/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ==================== GENERAL TAGS ==================== */

body {
	background: #e8f1f9;
	color: #000;
	font: normal 14px/18px Helvetica, Arial, sans-serif;
}

h1 {
	background: #189ad3;
	color: #fff;
	font: 200 24px/28px Helvetica, Arial, sans-serif;
	text-align: center;
	padding: 63px;
}

h2 {
	background: #fff;
	font: bold 20px/24px Helvetica, Arial, sans-serif;
	text-align: center;
	margin: 20px 50px;
	height: 100px;
	width: 300px;
	border-radius: 10px;
  border: 2px solid #dbebf6;
	padding: 40px;
}

a {
	font: bold 14px/18px Helvetica, Arial, sans-serif;
	color: #189ad3;
	text-decoration: none;
}

a:hover {
	color: #165eb5;
}

aside {
	float: left;
	width: 300px;
}

section {
	float: right;
	width: 400px;
}

button:focus {
	outline:0;
}

/* ====================== CLASSES ====================== */
.wrapper {
	margin: 20px auto;
	width: 770px;
}

.tweets {
	width: 400px;
	background: #fff;
	margin: -2px auto;
	padding: 10px;
	border: 2px solid #dbebf6;
}

.tweets:first-child {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	margin-top: 20px;
}

.tweets:last-child {
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	margin-bottom: 20px;
}

.profile-button {
	background: #189ad3;
	font: normal 16px/20px Helvetica, Arial, sans-serif;
	color: #fff;
	text-align: center;
	vertical-align: top;
	margin: 5px 50px;
	width: 300px;
	border-radius: 10px;
	padding: 10px;
	border: 0;
	-moz-box-shadow: inset -3px -3px 3px #165eb5;
	-webkit-box-shadow: inset -3px -3px 3px #165eb5;
	box-shadow: inset -3px -3px 3px #165eb5;
}

.profile-button:hover {
	background: #165eb5;
	-moz-box-shadow: inset -3px -3px 3px #1c4882;
	-webkit-box-shadow: inset -3px -3px 3px #1c4882;
	box-shadow: inset -3px -3px 3px #1c4882;
}

.timestamp {
	font: normal 12px/16px Helvetica, Arial, sans-serif;
	padding-bottom: 8px;
}




/* ======================= LAYOUT ======================= */

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

